.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.logo {
  width: 125px;
  height: 142px;
  margin: 30px 0 0 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__links {
  margin: 30px 80px 0 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link:hover {
  color: #2f80ed;
  transition: color 1s ease-in 0s;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: color 1s ease-out 0s;
}

.header__title {
  margin: 80px 0 0 80px;
  max-width: 729px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0px 0px 80px;
  max-width: 683px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__hours {
  display: block;
  margin-left: 80px;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__address {
  margin-right: 80px;
  margin-bottom: 0;
  align-self: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
