.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.logo {
  width: 125px;
  height: 142px;
  margin: 30px 0 0 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__links {
  margin: 30px 80px 0 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  margin: 80px 0 0 80px;
  max-width: 729px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0px 0px 80px;
  max-width: 683px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__hours {
  display: block;
  margin-left: 80px;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__address {
  margin-right: 80px;
  margin-bottom: 0;
  align-self: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes__title {
  margin: 0 0 0 80px;
  max-width: 580px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin-top: 80px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  border: none;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__video-caption {
  margin: 0;
  margin-top: 24px;
}

.reservation {
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 0;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.reservation__form {
  margin: 0;
  margin: 80px auto;
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__input {
  box-sizing: border-box;
  margin: 8px 0 32px 0;
  padding: 0 20px;
}

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input[type="text"],
.form__input[type="email"],
.form__input[type="datetime-local"],
.form__input[type="number"] {
  width: 100%;
  border-radius: 4px;
  min-height: 60px;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button[type="submit"] {
  width: 100%;
  border: none;
  border-radius: 4px;
  min-height: 60px;
  color: #ffffff;
  background-color: #2f80ed;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 1s ease-in-out 0s;
}

.form__button:hover {
  cursor: pointer;
  opacity: 70%;
  transition: opacity 1s ease-in-out 0s;
}

.form__checkbox[type="checkbox"] {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.form__fieldset-checkbox {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  border: none;
  display: flex;
  justify-content: center;
}

.form__label-checkbox {
  margin-left: 12px;
}
